label{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;

}

@media (min-width: 467px) {

    legend{

        font-size: xx-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    }
    
}

@media (max-width: 466px) {
    
    legend{

        font-size: large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }

    fieldset{

        width: 95vw;
    
    }

    .title{

        font-size: 1.5rem;
    
    }

}

@media (max-width: 444px) {

    legend{

        font-size: large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }

    fieldset{

        min-width: 300px;
        max-width: fit-content;
    
    }

    .title{

        font-size: 1rem;
    
    }

}

.title{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 100px;
    padding: 0px;
    background-color: black;
    color: aqua;

}